.timer_wrapper {
  max-width: 30rem;
  min-height: 50vh;
  color: inherit;
}
.timer_container {
  width: 30rem;
  background-color: var(--bb-color-bg-light-gray);
  border-radius: var(--radius-sm);
  box-shadow: var(--card-box-shadow);
}
.timer {
  font-size: 7rem;
  line-height: normal;
  font-weight: 700;
  color: var(--color-white);
}
.btn_timer {
  background-color: var(--color-white);
  color: inherit;
  font-size: var(--size-11);
  border-radius: var(--radius-sm);
}
.btn_tab {
  font-size: 1rem;
  border-radius: var(--radius-sm);
}
.btn_tab:hover {
  background-color: var(--bb-color-bg-tab);
}

.task {
  border-radius: var(--radius-sm);
  min-height: 4rem;
}
.task_name {
  text-transform: capitalize;
}
.task_description {
  word-wrap: break-word;
}
.task_name,
.task_description {
  font-size: var(--size-11);
  color: var(--bb-color-gray);
  background-color: var(--bb-color-bg-white);
  width: 100%;
  border-radius: var(--radius-sm);
  box-shadow: var(--card-box-shadow);
}
.task_title {
  font-size: var(--size-11);
  background-color: var(--bb-color-bg-tab);
  border-radius: var(--radius-sm);
}

/* Tabs */
.active_tab {
  background-color: rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .timer_container {
    width: 27rem;
  }
  .btn_tab {
    font-size: 0.75rem;
  }
  .timer {
    font-size: 5rem;
  }
  .btn_timer {
    font-size: 1rem;
  }
  .btn_timer i {
    font-size: 1.75rem;
  }
  .task_info {
    width: 27rem;
    margin-inline: auto;
  }
  .task_title,
  .task_name,
  .task_description {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .timer_container {
    width: 20rem;
  }
  .btn_tab {
    padding: 0.5rem 0.5rem;
  }
  .timer {
    font-size: 4rem;
  }
  .btn_timer {
    font-size: 0.75rem;
  }
  .btn_timer i {
    font-size: 1.5rem;
  }
  .task_info {
    width: 20rem;
    margin-inline: auto;
  }
  .task_title,
  .task_name,
  .task_description {
    font-size: 1rem;
  }
}
