.landing-page-wrapper {
  max-width: 50rem;
  height: 100vh;
  margin-top: 7.5rem;
}
.landing-page-container {
  width: 100%;
  height: auto;
}
.hero-img {
  height: 40vh;
}
.img--responsive {
  height: 100%;
}
.btn-hero {
  background-color: var(--bb-color-bg-dark-gray);
  opacity: 0.9;
  font-size: 1.5rem;
  border-radius: var(--radius-md);
}
