::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background: var(--color-dark-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bb-color-bg-material-gray);
}

.show-task {
  overflow-y: auto;
  height: 100%;
}
