.tasks-wrapper {
  max-width: 50rem;
  height: calc(100vh - 50px);
  opacity: 0.9;
  opacity: 0.9;
}
.tasks-container {
  width: 100%;
  background-color: var(--bb-color-bg-light-gray);
  height: 70%;
  border-radius: var(--radius-sm);
}
