.wrapper {
  min-height: 100vh;
  min-width: 100vw;
}
.theme-default {
  background-color: rgb(217, 85, 80);
  color: rgb(217, 85, 80);
}
.theme-dark {
  background-color: rgb(85, 85, 85);
  color: rgb(85, 85, 85);
}
.theme-blue {
  background-color: rgb(76, 145, 149);
  color: rgb(76, 145, 149);
}
.theme-dark-blue {
  background-color: rgb(69, 124, 163);
  color: rgb(69, 124, 163);
}
.color-text-gray {
  color: rgb(85, 85, 85);
}
